# Dependencies
node_modules

# Build outputs
dist
.next
.out

# Turborepo cache
.turbo

# TypeScript
.tsbuildinfo

# Environment files
.env
.env.local

# Data folder
data

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage
coverage